.login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 2.5rem 5rem;
  background-color: #2d3439;
}

/* LoginCard.module.css */

/* Increase font size for email and password inputs */
input[type="email"],
input[type="password"] {
  font-size: 26px;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {

  background-color: #f0f0f0; /* Placeholder background color */
}


.form {
  background-color: #42484d;
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}


.row label {
  align-self: flex-start;
}

.row input {
  width: 100%;
}
